<h1><%= @cocktail.name %></h1>

<h3>Ingredients: </h3>
<div class="row">
  <li>
    <% @cocktail.doses.each do |dose| %>
    <ul><%= dose.quantity %> -- <%= dose.ingredient.name %></ul>
  <% end %>
  </li>
</div>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>
