<h3>Add new dose</h3>
<div class="row">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :quantity %>
    <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>

